@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400&family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

._purpleBg {
  background: url("../images/purpleBackground.svg");
  background-position: cover;
  background-size: contain;
  background-repeat: no-repeat;
}

.absolutee {
  position: absolute;
  left: 20;
}

.z-index-100 {
  z-index: 100;
}

.bottom-100 {
  top: 28rem;
}

.z-index-10 {
  z-index: 10;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

main {
  min-height: calc(100vh - 96px);
}

/* .loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader__text {
    animation: animateLoader 3s infinite;
  }
  
  @keyframes animateLoader {
    0% {
      transform: rotate(0);
    }
  
    80% {
      transform: rotate(360deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
   */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #fff;
  margin: 0 auto;
  animation: spinner 2s linear infinite;
}


/* ================ */
._gadget {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px auto;
  width: 250px;
  height: 250px;
  background: white;
  border-radius: 75px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  transition: 1s box-shadow;
}

._gadget {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

._gadget:hover::before, ._gadget:hover::after {
  display: block;
  content: '';
  position: absolute;
  width: 250px;
  height: 250px;
  background: #FDA8CF;
  border-radius: 75px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

._gadget:hover:after {
  background: #F3CE5E;
  animation: 2s counterclockwise infinite;
}

/* @keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;    
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;    
  }
} */

/* @keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;    
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;    
  }
} */


