@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400&family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

._purpleBg {
  background: url("../images/purpleBackground.svg");
  background-position: cover;
  background-size: contain;
  background-repeat: no-repeat;
}

.absolutee {
  position: absolute;
  left: 20;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

main {
  min-height: calc(100vh - 96px);
}

/* .loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader__text {
    animation: animateLoader 3s infinite;
  }
  
  @keyframes animateLoader {
    0% {
      transform: rotate(0);
    }
  
    80% {
      transform: rotate(360deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
   */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #fff;
  margin: 0 auto;
  animation: spinner 2s linear infinite;
}
